<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="author" th:content="${question==null?@environment.getProperty('site.meta.author'):question.user.name+','+@environment.getProperty('site.meta.author')}">
  <meta name="keywords" th:content="${question==null?@environment.getProperty('site.meta.keywords'):question.tag+','+@environment.getProperty('site.meta.keywords')}">
  <meta name="description" th:content="${textDescription==null?@environment.getProperty('site.meta.description'):textDescription}">
  <meta name="Copyright" th:content="${'本页版权归'+@environment.getProperty('site.main.title')+'所有'}">
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/mylay.css">
  <link rel="icon" href="/images/N80.png" type="image/x-icon"/>
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/community.js" type="application/javascript"></script>
  <script src="/js/sweetalert.min.js"></script>
</th:block>

<div th:fragment="nav" class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/" >
      <img src="/images/logo.png" alt="layui" style="height: 45px">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li th:class="${'communitynav' == navtype}? 'layui-nav-item layui-this' : 'layui-nav-item'">
        <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
      <li th:class="${'devnav' == navtype}? 'layui-nav-item layui-this' : 'layui-nav-item'">
        <a href="/dev"><i class="iconfont icon-iconmingxinganli"></i>实验室</a>
      </li>
      <li class="layui-nav-item">
        <a href="https://github.com/yourkevin/NiterForum/" target="_blank"><i class="layui-icon">&#xe635;</i>源码</a>
      </li>
      <li class="layui-nav-item">
        <a th:href="${@environment.getProperty('site.info.contactQunUrl')}" target="_blank"><i class="layui-icon">&#xe770;</i>联系</a>
      </li>
    </ul>

    <ul class="layui-nav fly-nav-user">
      <th:block th:if="${session.user==null}">
      <!-- 未登入的状态 -->
      <li class="layui-nav-item">
        <a class="iconfont icon-touxiang layui-hide-xs" href="/sso/login"></a>
      </li>
      <li class="layui-nav-item">
        <a href="/sso/login">登入</a>
      </li>
      <li class="layui-nav-item">
        <a href="/sso/register">注册</a>
      </li>
      <li class="layui-nav-item layui-hide-xs">
        <a th:href="${'https://graph.qq.com/oauth2.0/authorize?client_id='+@environment.getProperty('qq.client.id')+'&redirect_uri='+@environment.getProperty('qq.redirect.uri')+'&response_type=code&state=1'}" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入" class="iconfont icon-qq"></a>
      </li>
      <li class="layui-nav-item layui-hide-xs">
        <a th:href="${'https://api.weibo.com/oauth2/authorize?client_id='+@environment.getProperty('weibo.client.id')+'&redirect_uri='+@environment.getProperty('weibo.redirect.uri')+'&response_type=code&state=1&scope=all'}" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" title="微博登入" class="iconfont icon-weibo"></a>
      </li>
      </th:block>
      <!-- 登入后的状态 -->
    <th:block th:if="${session.user!=null}">
      <li class="layui-nav-item layui-hide-xs" style="margin-right: 20px">
        <a th:if="${session.unreadCount!=0}" href="/user/message">有新消息<span class="layui-badge" th:text="${session.unreadCount}"></span></a>
      </li>
      <li class="layui-nav-item">
        <a class="fly-nav-avatar niter-avatar" href="javascript:;">
          <i th:if="${session.userAccount.vipRank==1}" class="layui-icon fly-list-kiss layui-hide-xs" title="红砖会员等级：LV1">&#xe735</i>
          <cite th:class="${session.userAccount.vipRank==1? 'fly-list-kiss':''}" th:text="${session.user.name}"></cite>
          <!--i class="layui-badge fly-badge-vip layui-bg-gray layui-hide-xs" th:text="${@environment.getProperty('user.group.r'+session.userAccount.groupId)}"></i-->
          <img th:src="${session.user.avatarUrl}">
        </a>
        <dl class="layui-nav-child">
          <dd><a href="/user/message"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息<span th:if="${session.unreadCount!=0}" class="layui-badge-dot"></span></a></dd>
          <dd><a th:href="${'/user/'+session.user.id}"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
          <hr style="margin: 5px 0;">
          <dd><a href="/user/p/myPosts"><i class="layui-icon">&#xe62a;</i>帖子管理</a></dd>
          <dd><a href="/user/set/account"><i class="layui-icon">&#xe612;</i>账户中心</a></dd>
          <dd><a href="/user/set/info"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
          <hr style="margin: 5px 0;">
          <dd><a href="/logout" style="text-align: center;">退出</a></dd>
        </dl>
      </li>
        </th:block>
      
    </ul>
  </div>
</div>

<div th:fragment="sub_nav" class="fly-panel fly-column">
  <div class="layui-container">
    <ul class="layui-clear">
      <li th:class="${column == null}? 'layui-this' : ''"><a href="/">首页</a></li>
      <li th:class="${column == 1}? 'layui-this' : ''"><a href="/?column=1">提问</a></li>
      <li th:class="${column == 2}? 'layui-this' : ''"><a href="/?column=2">分享<span class="layui-badge-dot"></span></a></li>
      <li th:class="${column == 3}? 'layui-this' : ''"><a href="/?column=3">建议</a></li>
      <li th:class="${column == 4}? 'layui-this' : ''"><a href="/?column=4">讨论</a></li>
      <li th:class="${column == 5}? 'layui-this' : ''"><a href="/?column=5">公告</a></li>
      <li th:class="${column == 6}? 'layui-this' : ''"><a href="/?column=6">动态</a></li>
      <li th:class="${column == 9}? 'layui-this' : ''"><a href="/?column=9">其它</a></li>
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>

      <!-- 用户登入后显示 -->
      <th:block th:if="${session.user!=null}">
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a target="_blank" href="/user/p/myPosts">我发表的贴</a></li>
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a target="_blank" href="/user/p/likes">我收藏的贴</a></li>
      </th:block>
    </ul>

    <div class="fly-column-right layui-hide-xs">
      <span class="fly-search"><i class="layui-icon"></i></span>
      <a href="/p/publish" target="_blank" class="layui-btn">发表新帖</a>
    </div>
    <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
      <a href="/p/publish" target="_blank" class="layui-btn">发表新帖</a>
    </div>
  </div>
</div>

</html>