

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{common/header :: head}"></th:block>
    <title th:text="${'聊天室'+@environment.getProperty('site.main.titleInfo')}"></title>
</head>
<body>

<div th:insert="~{common/header :: nav}"></div>

<div class="layui-container fly-marginTop layui-text" align="center">
    <blockquote class="layui-elem-quote"><strong>小提示!</strong> 聊天窗口自动隐藏，您需要点击右下角浮窗弹出。。</blockquote>
    <hr class="layui-bg-blue">
    <blockquote class="layui-elem-quote"><strong>小提示!</strong> 如果手机端右下角没有悬浮窗弹出。请点击<a href="/mchat">此处</a>。</blockquote>
    <hr class="layui-bg-blue">
    <blockquote class="layui-elem-quote"><strong>小提示!</strong> 如有其它BUG，请返回<a href="/">社区首页</a>反馈，或者<a th:href="${@environment.getProperty('site.info.contactQunUrl')}" target="_blank">联系我们</a></blockquote>
    <hr class="layui-bg-blue">
</div>

<th:block th:insert="~{common/footer :: foot}"></th:block>

<!--script>
    layui.cache.page = '';
    layui.cache.user = {
        username: '游客'
        ,uid: -1
        ,avatar: '/images/avatar/00.jpg'
        ,experience: 83
        ,sex: '男'
    };
    layui.config({
        version: "3.0.0"
        ,base: '/mods/'
    }).extend({
        fly: 'index'
    }).use('fly');
</script-->
<script>
    var xlm_wid='[[${xlm_wid}]]';
    var xlm_url='https://www.xianliao.me/';
    var xlm_uid='[[${xlm_uid}]]'; //登录用户的ID，游客使用0
    var xlm_name='[[${xlm_name}]]'; //登录用户的用户名，游客使用空字符
    var xlm_avatar='[[${xlm_avatar}]]';//登录用户的头像URL，游客使用空字符
    var xlm_time='[[${xlm_time}]]'; //现在服务器的Linux timestamp, 如：1481673726
    var xlm_hash='[[${xlm_hash}]]'; //为保障用户的登录安全，xlm_hash须在后台生成，见下附的xlm_hash的生成方法
    // alert(xlm_uid)
</script>
<script type='text/javascript' charset='UTF-8' src='https://www.xianliao.me/embed.js'></script>
</body>
</html>