body{
    background-color: #efefef;

}

.main{
    background-color: white;
    margin: 30px;
}

.btnpublish{
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 40px;
    height: 40px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.community-menu{
    color: #999;
    font-size: 13px;
}