body{
    background-color: #efefef;

}

.main{
    background-color: white;
    margin: 30px;
}

.btnpublish{
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 40px;
    height: 40px;
}

.media-body {
    padding-top: 10px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.community-menu{
    color: #999;
    font-size: 13px;
}

.comment {
    margin: 10px 0;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn {
    margin: 10px 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon :hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .new {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}