<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link href="https://cdn.bootcss.com/bootflat/2.0.4/css/bootflat.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="https://kevin-10058670.cos.ap-shanghai.myqcloud.com/css/backToTop.css">
    <!--link rel="icon" href="/images/logo.png" type="image/x-icon"/-->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kevin-10058670.cos.ap-shanghai.myqcloud.com/js/backToTop.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="https://cdn.bootcss.com/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://kevin-10058670.cos.ap-shanghai.myqcloud.com/js/clock.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Global site tag (gtag.js) - Google Analytics
    <meta name="google-site-verification" content="QGf2OqDw91EjWtNE07HoLJi0x0G2rIYylk6jn6JEoEQ" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89103576-8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());


        gtag('config', 'UA-89103576-8');
    </script>
    -->
</head>
</html>