<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="nav">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">凯文社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li th:class="${'communitynav' == navtype}? 'active' : ''"><a href="/">论坛<span class="sr-only">(current)</span></a></li>
                <li th:class="${'videonav' == navtype}? 'active' : ''"><a href="/videos">视频<span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" action="/" method="get">
                <div class="form-group">
                    <input type="text" name="search" class="form-control" placeholder="搜索问题...">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user!=null}" th:class="${'publishnav' == navtype}? 'active' : ''">
                    <a href="/publish">发布</a>
                </li>
                <li th:if="${session.user!=null}" th:class="${'notifynav' == navtype}? 'active' : ''">
                    <a href="/profile/notifies" class="glyphicon glyphicon-bell">
                        <span th:if="${session.unreadCount!=0}" class="badge" th:text="${session.unreadCount}"></span>
                    </a>
                </li>
                <li th:if="${session.user==null}">
                    <button type="button" class="btn btn-success navbar-btn">
                        <a th:href="@{https://github.com/login/oauth/authorize(client_id='b6ecb208ce93f679a75a',redirect_uri=${#httpServletRequest.getServletContext().getAttribute('redirectUri')},scope='user',state=1)}" style="color: white">
                            登录
                        </a>
                    </button>
                </li>
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="img-rounded" th:src="${session.user.avatarUrl}" style="width: 20px">
                        <sapn th:text="${session.user.name}"></sapn>
                        <span class="caret" ></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile/questions">我的问题</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</div>
</body>
</html>