<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布-凯文社区</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/community.js"></script>

    <!-- 可选的 Bootstrap 主题文件（一般不用引入）
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
     -->
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->

</head>
<body>

<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 发起</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">文章标题</span>
                <input type="text" id="title" name="title" class="form-control"
                       placeholder="简单扼要的标题" aria-describedby="sizing-addon1"
                       th:value="${title}"
                       autocomplete="off">
            </div>
                <br>
            <div class="form-group" id="question-editor">
                <label for="description">问题补充 (必填，请参照右侧提示):</label>
                <div id="editor">
                    <p id="descriptionP" th:text="${description}"></p>
                </div>
                <textarea name="description" id="description"
                          class="form-control"
                          cols="30"
                          rows="10"
                          style="display:none;"
                         ></textarea>
            </div>
            <div class="form-group" >
                    <label for="description">添加标签:</label>
                <input type="text" name="tag" id="tag" class="form-control"
                       placeholder="输入标签，以英文逗号,分割" aria-describedby="sizing-addon1"
                       th:value="${tag}" autocomplete="off"
                       onclick="showSelectTag()">
                <div id="select-tag" class="publish-tag-tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" th:each="selectCategory,selectCategoryStat: ${tags}"
                            th:class="${selectCategoryStat.first ? 'active':''}">
                            <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab"
                               data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" th:id="${selectCategory.categoryName}"
                             th:each="selectCategory: ${tags}"
                             th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                                <span>
                                    <span class="label label-info" th:each="selectTag: ${selectCategory.tags}">
                                    <span class="glyphicon glyphicon-tags" onclick="selectTag(this)"
                                          th:data-tag="${selectTag}"
                                          th:text="${' '+selectTag}">
                                    </span>
                                </span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <span class="alert alert-danger" th:if="${error!=null}" th:text="${error}" id="error"></span>
            <button type="submit" class="btn btn-success btnpublish">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-xs-12">
            <h3>问题发起指南</h3>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
            • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
<!--
<script type="text/javascript">


    var E = window.wangEditor
    var editor = new E('#editor')
    editor.customConfig.colors = [
        '#000000',
        '#eeece0',
        '#1c487f',
        '#4d80bf',
        '#ff0000',
        '#00FF00',
        '#7b5ba1',
        '#46acc8',
        '#f9963b',
        '#ffffff'
    ]
    editor.customConfig.uploadImgServer = '/file/upload';  // 上传图片到服务器
    editor.customConfig.uploadFileName = 'myFile';//设置文件上传的参数名称
    editor.customConfig.uploadImgMaxSize = 1 * 1024 * 1024;//最大尺寸1M
    editor.customConfig.customAlert = function (info) {
        // info 是需要提示的内容
        swal("上传失败!", info, "error");
    }
    editor.customConfig.emotions =[
        {
            'title': '抖音',
            'type': 'image',
            'content': [
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bld.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/ble.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/blf.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/blg.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/blh.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bli.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/blj.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/blk.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bll.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/blm.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bln.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/blo.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/blp.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/blq.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/blr.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bls.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/blt.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/blu.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/blv.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/blw.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/blx.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bly.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/blz.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bm_.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bm0.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bm1.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bm2.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bm3.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bm4.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bm5.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bm6.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bm7.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bm8.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bm9.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bma.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmb.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmc.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmd.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bme.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmf.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmg.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmh.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmi.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmj.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmk.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bml.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmm.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmn.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmo.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmp.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmq.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmr.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bms.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmt.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmu.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmv.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmw.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmx.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmy.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bmz.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bn_.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bn0.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bn1.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bn2.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bn3.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bn4.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bn5.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bn6.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bn7.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bn8.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bn9.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bna.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnb.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnc.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnd.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bne.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnf.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bng.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnh.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bni.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnj.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnk.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnl.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnm.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnn.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bno.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnp.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnq.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnr.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bns.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnt.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnu.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnv.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnw.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnx.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bny.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bnz.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bo_.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bo0.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bo1.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bo2.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bo3.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bo4.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bo5.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bo6.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bo7.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bo8.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bo9.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/boa.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bob.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/boc.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bod.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/boe.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bof.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bog.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/boh.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/boi.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/boj.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bok.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bol.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bom.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bon.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/boo.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bop.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/boq.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bor.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bos.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bot.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bou.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bov.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bow.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/box.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/boy.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/boz.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bp0.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bp1.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bp2.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bp3.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bp4.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bp5.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bp6.png'
                },
                {
                    'src': 'https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/smile/douyin/bp7.png'
                }
            ]
        }
    ]
    var $description = $('#description')
    editor.customConfig.onchange = function (html) {
        // 监控变化，同步更新到 textarea
        $description.val(html)
    }
    editor.create();
    E.fullscreen.init('#editor');//启动全屏
    // 初始化 textarea 的值
    $description.val(editor.txt.html());
    var obj = document.getElementById("descriptionP");
    //alert(obj.innerText);//这样就自动解析了
    obj.innerHTML = obj.innerText;//这样重新设置html代码为解析后的格式
</script>
-->
<script src="/js/myeditor.js"></script>
</html>