<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <head th:insert="~{import :: head}"></head>
    <link rel="stylesheet" href="/css/myeditor.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    -->
    <!-- 可选的 Bootstrap 主题文件（一般不用引入）
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
     -->
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://community-1251590924.cos.ap-hongkong.myqcloud.com/js/moment.js" type="application/javascript"></script>
    <script src="https://cdn.bootcss.com/clipboard.js/2.0.4/clipboard.js"></script>
</head>
<body>
<div id = "navigation" th:insert="~{navigation :: nav}"></div>



<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12">
            <h4><span class="glyphicon glyphicon-book" th:text="${question.title}" aria-hidden="true"></span></h4>
            <span class="text-desc">
                        <span th:text="${question.user.name}"></span> 发表 •
                        <span th:text="${question.commentCount}"></span> 个回复 •
                        <span th:text="${question.viewCount}"></span> 次浏览 •
                        <span th:text="${#dates.format(question.gmtModified,'yyyy-MM-dd HH:mm')}"></span> 更新
            </span>
            <hr>
            <div class="col-lg-12 col-md-12 col-xs-12 image-light"  id="descriptionP" th:text="${question.description}">
            </div>
                <div style="text-align: center">
                    <button class="btn btn-warning" th:data-id="${question.id}" onclick="like_question(this)">
                        <span th:id="${'questionlikespan-'+question.id}" class="glyphicon glyphicon-heart-empty">收藏
                        <span th:id="${'questionlikecount-'+question.id}" class="badge" style="margin-left: -5px" th:text="${question.likeCount}"></span>
                        </span>
                    </button>
                    <div class="btn btn-success copyshare bshare-custom icon-medium" style="height: 35px">
                        <span class="glyphicon glyphicon-share">分享</span>
                        <a title="分享到QQ空间" class="bshare-qzone"></a>
                        <a title="分享到QQ好友" class="bshare-qqim"></a>
                        <!--a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                        <a title="分享到微信" class="bshare-weixin"></a>
                        <a title="分享到有道笔记" class="bshare-youdaonote"></a-->
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <br>
                    <span class="label label-info question-tag" th:each="tag : ${question.tag.split(',')}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="label label-info" th:text="${tag}"></span>
                    </span>
                </div><!--标签-->
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <br>
                <a class="community-menu" th:href="@{'/publish/'+${question.id}}" th:if="${session.user!=null&&session.user.id == question.creator}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true">编辑</span>
                </a>
                <a class="community-menu" th:href="@{'/publish/'+${question.id}}" th:if="${session.user!=null&&session.user.id == 17}">
                    <img src="/images/jiajing.png" alt="加精">加精
                </a>
                    <a class="community-menu" th:href="@{'/publish/'+${question.id}}" th:if="${session.user!=null&&session.user.id == 17}">
                        <img src="/images/zhiding.png" alt="置顶">置顶
                    </a>
                </div><!--编辑-->
            </div><!--正文框-->
            <div class="col-lg-12 col-md-12 col-xs-12">
                <hr>
                <h4>
                    <span th:text="${question.commentCount}"></span> 个回复
                </h4>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="comment : ${comments}">
                    <hr>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${comment.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body" th:id="${'comment-body-'+comment.id}">
                            <h5 class="media-heading">
                                <span th:text="${comment.user.name}"></span>
                            </h5>
                            <div th:text="${comment.content}"></div>
                            <div class="menu">
                                <span class="comment-icon" th:id="${'thumbicon-'+comment.id}" >
                                  <span class="glyphicon glyphicon-thumbs-up icon" th:data-id="${comment.id}" onclick="like_comment(this)"></span>
                                  <span th:id="${'likecount-'+comment.id}" th:text="${comment.likeCount}"  th:class="${comment.likeCount != 0}? 'new likecount' : 'likecount'"></span>
                                </span>
                                <span th:data-id="${comment.id}"
                                      onclick="collapseComments(this)" class="comment-icon">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span th:text="${comment.commentCount}"  th:class="${comment.commentCount != 0}? 'new' : ''"></span>
                                </span>
                                <span class="pull-right"
                                      th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd  HH:mm')}"></span>
                            </div>
                            <!--二级评论-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments"
                                 th:id="${'comment-'+comment.id}">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="评论一下……"
                                           th:id="${'input-'+comment.id}">
                                    <button type="button" class="btn btn-success pull-right" onclick="comment(this)"
                                            th:data-id="${comment.id}">评论
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!--评论展示框-->
            <div class="col-lg-12 col-md-12 col-xs-12" id="comment_section">
                <hr>
                <div class="media" >
                    <div class="media-left media-middle avatar">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="${session.user != null ? session.user.avatarUrl : '/images/default-avatar.png'}"
                                 th:alt="${session.user != null ? session.user.name : '匿名用户'}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${session.user != null ? session.user.name : '匿名用户'}"></span>
                        </h5>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${question.id}">
                <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                <button type="button" class="btn btn-success btnpublish" onclick="post()">回复</button>

            </div><!--回复输入框-->
        </div>
        <div class="col-lg-3 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media" >
                    <div class="media-left media-middle avatar">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="${question.user.avatarUrl}"
                                 th:alt="${question.user.name}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a th:href="@{'/user/'+ ${question.user.id}}" th:text="${question.user.name}"></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr>
                <h4>站长微信</h4>
                <img class="img-thumbnail question-wechat" src="https://community-1251590924.cos.ap-hongkong.myqcloud.com/images/welcome.jpg">
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12">
                <hr>
                <h4>相关问题</h4>
                <ul class="question-related">
                    <li th:each="related : ${relatedQuestions}">
                        <span class="glyphicon glyphicon-screenshot">
                            <a th:href="@{'/question/'+ ${related.id}}" th:text="${related.title}"></a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>






</body>

<script type="text/javascript">
    var obj = document.getElementById("descriptionP");
    //alert(obj.innerText);//这样就自动解析了
    obj.innerHTML = obj.innerText;//这样重新设置html代码为解析后的格式
</script>
<script>

    var con = '我在凯文社区找到一篇好文章《'+document.title+'》，快来戳后面的链接来围观吧！---'+this.location.href;
    var clipboard = new ClipboardJS('.copyshare', {
        text: function() {
            //     var con = '我在凯文社区找到一篇好文章《'+document.title+'》，快来围观吧！---'+this.location.href;
            //alert("进来了"+document.title+this.location.href);
            //alert(con);
            swal("复制成功!", "赶快去分享文章吧~", "success");
            return ''+con;
        }
    });

    clipboard.on('success', function(e) {
        console.log(e);
    });

    clipboard.on('error', function(e) {
        console.log(e);
    });
</script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
<a class="bshareDiv" onclick="javascript:return false;"></a>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>

</html>