<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.niter.forum.mapper.QuestionExtMapper">
    <resultMap id="BaseResultMap" type="cn.niter.forum.model.Question">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="TITLE" jdbcType="VARCHAR" property="title"/>
        <result column="GMT_CREATE" jdbcType="BIGINT" property="gmtCreate"/>
        <result column="GMT_MODIFIED" jdbcType="BIGINT" property="gmtModified"/>
        <result column="CREATOR" jdbcType="INTEGER" property="creator"/>
        <result column="COMMENT_COUNT" jdbcType="INTEGER" property="commentCount"/>
        <result column="VIEW_COUNT" jdbcType="INTEGER" property="viewCount"/>
        <result column="LIKE_COUNT" jdbcType="INTEGER" property="likeCount"/>
        <result column="TAG" jdbcType="VARCHAR" property="tag"/>
    </resultMap>

    <update id="incView" parameterType="cn.niter.forum.model.Question">
    update question
    set
    VIEW_COUNT = VIEW_COUNT + #{viewCount,jdbcType=INTEGER}
    where id = #{id}
    </update>

    <update id="incCommentCount" parameterType="cn.niter.forum.model.Question">
    update question
    set
    COMMENT_COUNT = COMMENT_COUNT + #{commentCount,jdbcType=INTEGER}
    where id = #{id}
    </update>

    <select id="selectRelated" parameterType="cn.niter.forum.model.Question" resultMap="BaseResultMap">
        select * from question where id != #{id} and tag regexp #{tag} order by gmt_latest_comment desc limit 0,10
    </select>

    <select id="countBySearch" parameterType="cn.niter.forum.dto.QuestionQueryDTO"
            resultType="java.lang.Integer">
        select count(*) from question
        <where>
            (status=0 OR status =1)
            <if test="search != null and search != ''">
                and title regexp #{search}
            </if>
            <if test="tag != null and tag != ''">
                and tag regexp #{tag}
            </if>
            <if test="column2 != null and column2 != 0 ">
                and column2 = #{column2}
            </if>
            <if test="sort != null and sort != '' and sort == 'no'">
                and comment_count = 0
            </if>
            <if test="sort != null and sort != '' and sort == 'good'">
                and status = 1
            </if>
            <if test="time != null and time != ''">
                and gmt_create > #{time}
            </if>
        </where>
    </select>

    <select id="selectBySearch" parameterType="cn.niter.forum.dto.QuestionQueryDTO"
            resultMap="BaseResultMap">
        select * from question
        <where>
            (status=0 OR status =1)
            <if test="search != null and search != ''">
                and title regexp #{search}
            </if>
            <if test="tag != null and tag != ''">
                and tag regexp #{tag}
            </if>
            <if test="column2 != null and column2 != 0 ">
                and column2 = #{column2}
            </if>
            <if test="sort != null and sort != '' and sort == 'no'">
                and comment_count = 0
            </if>
            <if test="sort != null and sort != '' and sort == 'good'">
                and status = 1
            </if>
            <if test="time != null and time != ''">
                and gmt_create > #{time}
            </if>
        </where>
        <if test="sort == null or sort == ''">
            order by gmt_latest_comment desc
        </if>
        <if test="sort != null and sort != '' and sort == 'new'">
            order by gmt_latest_comment desc
        </if>
        <if test="sort != null and sort != '' and sort == 'no'">
            order by gmt_latest_comment desc
        </if>
        <if test="sort != null and sort != '' and sort == 'good'">
            order by gmt_latest_comment desc
        </if>
        <if test="sort != null and sort != '' and (sort == 'hot' || sort == 'hot7' || sort == 'hot30')">
            order by comment_count desc
        </if>
        limit #{offset},#{size}
    </select>

    <select id="selectTop" parameterType="cn.niter.forum.dto.QuestionQueryDTO"
            resultMap="BaseResultMap">
        select * from question
        <where>
            (status=2 OR status =3)
            <if test="search != null and search != ''">
                and title regexp #{search}
            </if>
            <if test="tag != null and tag != ''">
                and tag regexp #{tag}
            </if>
            <if test="column2 != null and column2 != 0 ">
                and column2 = #{column2}
            </if>
            <if test="sort != null and sort != '' and sort == 'no'">
                and comment_count = 0
            </if>
            <if test="sort != null and sort != '' and sort == 'good'">
                and status = 3
            </if>
            <if test="sort != null and sort != '' and sort == 'good'">
                order by gmt_latest_comment desc
            </if>
            <if test="time != null and time != ''">
                and gmt_create > #{time}
            </if>
        </where>
        <if test="sort == null or sort == ''">
            order by gmt_latest_comment desc
        </if>
        <if test="sort != null and sort != '' and sort == 'new'">
            order by gmt_latest_comment desc
        </if>
        <if test="sort != null and sort != '' and sort == 'no'">
            order by gmt_latest_comment desc
        </if>
        <if test="sort != null and sort != '' and (sort == 'hot' || sort == 'hot7' || sort == 'hot30')">
            order by comment_count desc
        </if>
    </select>
</mapper>